@media print {
  @page { size: A4; margin: 5mm; }
  #add-btn, #exportar-btn, #tipo-protocolo, #limpar-btn, #exportar-pdf-btn, #exportar-json-btn, #importar-json-btn, #file-input { display: none; }
  input, textarea { border: none; outline: none; }
  textarea { resize: none; overflow: hidden; }
}

body { font-family: Arial, sans-serif; margin: 5mm; }

.protocolo {
  position: relative;
  border: 1px solid #000;
  padding: 3px;
  margin-bottom: 32px;
  box-sizing: border-box;
  page-break-inside: avoid;
  break-inside: avoid;
}

.linha { margin-bottom: 2px; }

label { font-weight: bold; }

input[type="text"] {
  width: 65%;
  border: 1px solid #ccc;
  padding: 4px;
}

textarea {
  width: 100%;
  min-height: 7em;
  border: 1px solid #ccc;
  padding: 1px;
  font-family: Arial, sans-serif;
  resize: none;
  overflow: hidden;
}

.assinatura { margin-top: 4px; }
.assinatura input { width: 30%; }

#add-btn, #exportar-btn, #limpar-btn, #exportar-pdf-btn, #exportar-json-btn, #importar-json-btn {
  margin: 10px 5px;
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

#add-btn:hover, #exportar-btn:hover, #limpar-btn:hover, #exportar-pdf-btn:hover, #exportar-json-btn:hover, #importar-json-btn:hover {
  background-color: #45a049;
}

.remover-btn {
  position: absolute;
  top: 4px;
  right: 28px;
  background: none;
  border: none;
  font-size: 18px;
  color: red;
  cursor: pointer;
}

.adicionar-btn {
  position: absolute;
  top: 4px;
  right: 6px;
  background: none;
  border: none;
  font-size: 18px;
  color: green;
  cursor: pointer;
}